{{ define "main" }}
  {{ with .Site.GetPage
    "/brukeropplevelse-og-datadeling/team"
  }}
    <div class="component" style="background-color: #faeec2">
      {{ partial "components/breadcrumbs.html" . }}
      <div class="container">
        <div class="row d-flex justify-content-between">
          <div class="col-lg-8 my-auto pe-5">
            <h1 class="">{{ .Title }}</h1>
            {{ $ingress := .Params.ingress | safeHTML }}
            <p class="ingress mb-5 mb-lg-0">{{ $ingress }}</p>
          </div>
          <div class="col-lg-4 d-flex justify-content-sm-center">
            <div class="d-flex align-items-center">
              {{ partial "components/image.html" (dict "context" . "image"
                .Params.banner.image)
              }}
            </div>
          </div>
        </div>
      </div>
    </div>
  {{ end }}
  <div class="component" style="background-color: #FFFFFF;">
    <div class="container-fluid px-5 divider-title">
      {{ $product_and_devops_team := (i18n
        "product-and-devops-team")
      }}
      {{ partial
        "components/component-title.html" (dict "context" . "title"
        $product_and_devops_team)
      }}
      <div class="row d-flex justify-content-evenly">
        {{ with .Site.GetPage "/brukeropplevelse-og-datadeling/team/products-and-devops" }}
          {{ range .Pages }}
            <div class="col-10 col-md-5" style="margin-bottom: 1.5rem">
              {{ $accordion_id := .File.UniqueID }}
              {{ $owner_and_coach := .Resources.GetMatch "eier-og-coach.md" }}
              {{ $products := .Resources.GetMatch "produkter.md" }}
              {{ $roles := .Resources.GetMatch "roller.md" }}
              {{ partial "components/accordion.html" (dict "context" . "title" .Title "id" $accordion_id "contents" (dict "col_1" $owner_and_coach "col_2" $products "col_3" $roles)) }}
            </div>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
  <div class="component pt-0" style="background-color: #FFFFFF;">
    <div class="container-fluid px-5 divider-title">
      {{ $other_teams_functions := (i18n
        "other-teams-functions")
      }}
      {{ partial
        "components/component-title.html" (dict "context" . "title"
        $other_teams_functions)
      }}
      <div class="row d-flex justify-content-evenly">
        {{ with .Site.GetPage "/brukeropplevelse-og-datadeling/team/other-teams/" }}
          {{ range .Pages }}
            <div class="col-10 col-md-5" style="margin-bottom: 1.5rem">
              {{ $accordion_id := .File.UniqueID }}
              {{ $owner_and_coach := .Resources.GetMatch "eier-og-coach.md" }}
              {{ $products := .Resources.GetMatch "produkter.md" }}
              {{ $roles := .Resources.GetMatch "roller.md" }}
              {{ partial "components/accordion.html" (dict "context" . "title" .Title "id" $accordion_id "contents" (dict "col_1" $owner_and_coach "col_2" $products "col_3" $roles)) }}
            </div>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
