<!-- For usage example check out: layouts/brukeropplevelse-og-datadeling/team/list.html -->
<div class="accordion" id="accordion-{{ $.id }}">
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-{{ $.id }}" style="margin: 0">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapse-{{ $.id }}"
        aria-expanded="true"
        aria-controls="collapse-{{ $.id }}"
        style="color: #1E2B3C; background-color: #FAEEC2"
      >
        {{ $.title }}
      </button>
    </h2>
    <div
      id="collapse-{{ $.id }}"
      class="accordion-collapse collapse"
      aria-labelledby="heading-{{ $.id }}"
      data-bs-parent="#accordion-{{ $.id }}"
    >
      <div
        class="row accordion-body d-flex justify-content-between"
        style="box-sizing: border-box; word-wrap: break-word"
      >
        {{ $len := len $.contents }}
        {{ $col_width := div 12 $len }}
        {{ range $val := $.contents }}
          {{ if eq $len 1 }}
            {{ $val }}
          {{ else }}
            <div
              class="col-12 col-xl-{{ $col_width }}"
              style="word-wrap: break-word"
            >
              {{ $val.Content }}
            </div>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</div>
