<ds-breadcrumbs class="ds-breadcrumbs container">
  <ol id="breadcrumbs">
    <li><a href="/" class="ds-link">Baksia</a></li>
    {{- range .Ancestors.Reverse }}
      {{ if not .IsHome }}
      <li><a href="{{ .RelPermalink }}" class="ds-link">{{ humanize (index (split .RelPermalink "/") (sub (len (split .RelPermalink "/")) 2)) }}</a></li>
      {{- end }}
    {{- end }}

    <li>
      <a href="{{ .RelPermalink }}" class="ds-link" aria-current="page" style="text-decoration: none;">
        {{ if .Params.linktitle }}
          {{ .Params.linktitle }}
        {{ else }}
          {{ humanize (index (split .RelPermalink "/" ) (sub (len (split .RelPermalink "/")) 2)) }}
        {{ end }}
      </a>
    </li>
  </ol>
</ds-breadcrumbs>
