<div class="container breadcrumb">
  <ul id="breadcrumbs">
    <li><a href="/">Baksia</a></li>
    {{- range .Ancestors.Reverse }}
      {{ if not .IsHome }}
      <li><a href="{{ .RelPermalink }}">{{ humanize (index (split .RelPermalink "/") (sub (len (split .RelPermalink "/")) 2)) }}</a></li>
      {{- end }}
    {{- end }}

    {{ if .Params.linktitle }}
      <li>{{ .Params.linktitle }}</li>
    {{ else }}
      <li>{{ humanize (index (split .RelPermalink "/") (sub (len (split .RelPermalink "/")) 2)) }}</li>
    {{ end }}
  </ul>
</div>
