{{ $title := .Get "title" }}
{{ $owner := .Get "owner" }}
{{ $leader := .Get "leader" }}
{{ $purpose := .Get "purpose" }}


<section class="process-card strategy-card">
  <div>
    <h3 class="process-card-item">{{ $title }}</h3>
    <div class="process-card-item">
      <div><strong>{{ i18n "owner" }}:</strong></div>
      <div>{{ $owner }}</div>
    </div>
    <div>
      <div><strong>{{ i18n "leader" }}:</strong></div>
      <div>{{ $leader }}</div>
    </div>
    {{ if .Get "leader2" }}
      <div class="mt-3">
        <div><strong>{{ i18n "leader" }}:</strong></div>
        <div>{{ .Get "leader2" }}</div>
      </div>
    {{ end }}
  </div>
  <div>
    <div class="process-card-item">
      <div><strong>{{ i18n "purpose" }}:</strong></div>
      <div>{{ $purpose }}</div>
    </div>
  </div>
</section>
