{{ define "main" }}
  {{ $sass := resources.Get "sass/process.scss" }}
  {{ $style := $sass | resources.ToCSS }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" />

  {{ with .Site.GetPage "/brukeropplevelse-og-datadeling/prosesser/produktorg-og-rammeverk" }}
    <div class="component" style="background-color: #FAEEC2">
      {{ partial "components/breadcrumbs.html" . }}
      <div class="container">
        <div class="row">
          <div class="col-lg-8 my-auto">
            <h1 class="">{{ .Title }}</h1>
            {{ $ingress := .Params.ingress | markdownify }}
            <p class="ingress mb-5 mb-lg-0">{{ $ingress }}</p>
            <span class="contactContainer">
              <p class="ingress mb-5 mb-lg-0">{{ .Params.contact.text | markdownify }}</p>
              <p class="contactName">{{ .Params.contact.name | markdownify }}</p>
            </span>
          </div>
          <div
            class="col-lg-4 d-flex justify-content-sm-center justify-content-lg-end"
          >
            <div>
              {{ partial "components/header-image.html" (dict "context" . "image"
                .Params.banner.image)
              }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="my-5">
      {{ range .Resources }}
        {{ if .Params.banner }}
          {{ if eq .Params.banner.image.position "left" }}
            <div class="component" style="background-color: #d2eafd">
              <div class="container">
                <div class="row d-flex justify-content-between">
                  <div class="col-lg-4 d-flex justify-content-sm-center">
                    <div class="d-flex align-items-center">
                      {{ partial "components/content-image.html" (dict "context" . "image"
                        .Params.banner.image)
                      }}
                    </div>
                  </div>
                  <div class="col-lg-8 my-auto section-content">
                    {{ .Content }}
                  </div>
                </div>
              </div>
            </div>
          {{ else }}
            <div class="component" style="background-color: #FFFFFF">
              <div class="container">
                <div class="row d-flex justify-content-between">
                  <div class="col-lg-8 my-auto section-content">
                    {{ .Content }}
                  </div>
                  <div class="col-lg-4 d-flex justify-content-sm-end">
                    <div class="d-flex align-items-center">
                      {{ partial "components/content-image.html" (dict "context" . "image"
                        .Params.banner.image)
                      }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {{ end }}
        {{ else }}
          <div class="component" style="background-color: #FAEEC2">
            <div class="container">
              <div class="row d-flex justify-content-between">
                <div class="col-lg-8 my-auto section-content">
                  {{ .Content }}
                </div>
              </div>
            </div>
          </div>
        {{ end }}
      {{ end }}
    </div>
  {{ end }}
{{ end }}
