.nav-card-external {
  &__content {
    background-color: $color-neutral-white;
    &::after {
      content: url("icons/nav_external_link.svg");
    }
  }
}

.external-link {
  font-family: "Inter";
  font-style: normal;
  font-weight: $font-weight-regular;
  font-size: $font-size-400;
  line-height: $font-line-height-30;
  color: $color-neutral-grey-800;
}

.end-icon {
  &::after {
    @include font-awsome("\f061");
    font-size: $font-size-300;
    bottom: 32px;
    margin-left: $spacing-base-1;
  }
}

.logo-text {
  font-family: Inter;
  font-size: $font-size-900;
  font-weight: $font-weight-medium;
  line-height: $font-line-height-40;
  letter-spacing: 0px;
  text-align: left;
  color: $color-neutral-grey-800;
  margin-left: $spacing-base-4;
}

.section-content {
  h2 {
    margin-top: 0;
  }

  p {
    a {
      font-family: "Inter";
      font-style: normal;
      font-weight: $font-weight-regular;
      font-size: $font-size-400;
      line-height: $font-line-height-30;
      color: $color-neutral-grey-800;
    }
  }
  p:nth-of-type(n + 2) {
    margin-bottom: 0;
  }
}

.breadcrumb {
  padding: 0 $spacing-base-2;

  a {
    font-family: "Inter";
    font-style: normal;
    font-weight: $font-weight-regular;
    font-size: $font-size-400;
    line-height: $font-line-height-30;
    color: $color-neutral-grey-800;
    text-decoration: none;
    border-bottom: 1px solid $color-neutral-grey-800;
    padding-bottom: $spacing-base-1;
  }
}

.breadcrumb ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 0 $spacing-base-8;
  padding: 0;
}

.breadcrumb li:not(:last-child)::after {
  @include font-awsome("\f054");
  color: $color-neutral-grey-600;
  display: inline-block;
  margin: 0 $spacing-base-4;
  font-size: $spacing-base-3;
  font-weight: $font-weight-medium;
}

.breadcrumb li:last-child {
  a {
    border: none;
  }
}
