@import "themes/digdir-hugo-theme/node_modules/@digdir/ds-tokens/build/tokens.scss";
@import "themes/digdir-hugo-theme/assets/sass/mixin/_font-awesome.scss";

.media-link {
  width: fit-content;
  font-family: $font-family;
  font-style: normal;
  font-weight: $font-weight-regular;
  font-size: $font-size-500;
  line-height: $font-line-height-30;
  color: $color-neutral-grey-800;
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 0.5px solid $color-neutral-grey-800;
}

.media-link:hover {
  
  border-bottom: none;
}

.section-title {
  width: fit-content;
  font-family: $font-family;
  font-style: normal;
  font-weight: $font-weight-medium;
  font-size: $font-size-800 !important;
  line-height: $font-line-height-30;
}

.responsibility-card {
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.responsibility-card__header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.responsibility-card__title {
  font-family: $font-family;
  font-style: normal;
  font-weight: $font-weight-medium;
  font-size: $font-size-600;
  line-height: $font-line-height-30;
  color: #1062d5;
  margin: 0;
}

.responsibility-card__capabilities {
  background-color: #d2eafd;
  padding: 0.75rem 1rem;
  border-radius: 4px;
  font-family: $font-family;
  font-size: $font-size-400;
  line-height: $font-line-height-30;
  color: $color-neutral-grey-800;
}

.responsibility-card__content {
  font-family: $font-family;
  font-size: $font-size-400;
  line-height: $font-line-height-30;
  color: $color-neutral-grey-800;
  
  p {
    margin: 0 0 1rem 0;
  }
  
  ul {
    margin: 1rem 0;
    padding-left: 1.5rem;
  }
  
  strong {
    font-weight: $font-weight-medium;
  }
}

