{{ define "main" }}
  {{ with .Site.GetPage
    "/brukeropplevelse-og-datadeling/seksjoner"
  }}
    <div class="component" style="background-color: #faeec2">
      {{ partial "components/breadcrumbs.html" . }}
      <div class="container">
        <div class="row d-flex justify-content-between">
          <div class="col-lg-7 my-auto">
            <h1 class="">{{ .Title }}</h1>
            {{ $ingress := .Params.ingress | markdownify }}
            <p class="ingress mb-5 mb-lg-0">{{ $ingress }}</p>
          </div>
          <div
            class="col-lg-4 d-flex justify-content-sm-center justify-content-lg-end"
          >
            <div class="d-flex align-items-center">
              {{ partial "components/image.html" (dict "context" . "image"
                .Params.banner.image)
              }}
            </div>
          </div>
        </div>
      </div>
    </div>

    {{ if .Content }}
    <div class="component">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            {{ .Content }}
          </div>
        </div>
      </div>
    </div>
    {{ end }}

    {{ range .Resources }}
      {{ if eq .Params.banner.image.position "left" }}
        <div class="component" style="background-color: #d2eafd">
          <div class="container">
            <div class="row d-flex justify-content-between">
              <div class="col-lg-4 d-flex justify-content-sm-center">
                <div class="d-flex align-items-center">
                  {{ partial "components/content-image.html" (dict "context" . "image"
                    .Params.banner.image)
                  }}
                </div>
              </div>
              <div class="col-lg-8 my-auto section-content">
                {{ .Content }}
              </div>
            </div>
          </div>
        </div>
      {{ else }}
        <div class="component" style="background-color: #FFFFFF">
          <div class="container">
            <div class="row d-flex justify-content-between">
              <div class="col-lg-8 my-auto section-content">
                {{ .Content }}
              </div>
              <div class="col-lg-4 d-flex justify-content-sm-end">
                <div class="d-flex align-items-center">
                  {{ partial "components/content-image.html" (dict "context" . "image"
                    .Params.banner.image)
                  }}
                </div>
              </div>
            </div>
          </div>
        </div>
      {{ end }}
    {{ end }}

  {{ end }}
{{ end }}
