{{ define "main" }}
  <div>
    {{ with .Site.GetPage "/brukeropplevelse-og-datadeling/metodikk" }}
      <div class="component" style="background-color: #D1F4E1">
        {{ partial "components/breadcrumbs.html" . }}
        <div class="container">
          <div class="row">
            <div class="col-lg-8 my-auto">
              <h1 class="">{{ .Title }}</h1>
              {{ $ingress := .Params.ingress | markdownify }}
              <p class="ingress mb-5 mb-lg-0">{{ $ingress }}</p>
            </div>
            <div
              class="col-lg-4 d-flex justify-content-sm-center justify-content-lg-end"
            >
              <div>
                {{ partial "components/image.html" (dict "context" . "image"
                  .Params.banner.image)
                }}
              </div>
            </div>
          </div>
        </div>
      </div>
    {{ end }}
  </div>

  <div class="component" style="background-color: #F4F5F6">
    <div class="container">
      {{ $which_methodology := (i18n "which-methodology") }}
      {{ partial
        "components/component-title.html" (dict "context" . "title"
        $which_methodology)
      }}
      <div class="row gy-3 justify-content-left mb-5">
        {{ with .Site.GetPage "/brukeropplevelse-og-datadeling/metodikk" }}
          {{ range .Pages }}
            <div class="col-lg-4">
              <div class="navigation-card">
                <a
                  class="navigation-card__content"
                  href="{{ .RelPermalink }}"
                  style="background-color: #d2eafd"
                >
                  <h3
                    class="navigation-card__title navigation-card__title--small"
                  >
                    {{ .Title }}
                  </h3>
                  <p class="navigation-card__desc navigation-card__desc--small">
                    {{ .Params.navigation_link.text }}
                  </p>
                </a>
              </div>
            </div>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
