{{ define "main" }}
  {{ $sass := resources.Get "sass/rapportering.scss" }}
  {{ $style := $sass | resources.ToCSS }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
  <div>
    {{ with .Site.GetPage "/brukeropplevelse-og-datadeling/rapportering" }}
      <div class="component" style="background-color: #FAEEC2">
        {{ partial "components/breadcrumbs.html" . }}
        <div class="container">
          <div class="row">
            <div class="col-lg-8 my-auto">
              <h1 class="">{{ .Title }}</h1>
              {{ $ingress := .Params.ingress | markdownify }}
              <p class="ingress mb-5 mb-lg-0">{{ $ingress }}</p>
            </div>
            <div
              class="col-lg-4 d-flex justify-content-sm-center justify-content-lg-end"
            >
              <div>
                {{ partial "components/header-image.html" (dict "context" . "image"
                  .Params.banner.image)
                }}
              </div>
            </div>
          </div>
        </div>
      </div>
    {{ end }}
  </div>

  <div class="component" style="background-color: #FFFFFF;">
    <div class="container">
      <div class="row d-flex justify-content-between">
        {{ with .Site.GetPage "/brukeropplevelse-og-datadeling/rapportering" }}
          {{ range .Resources }}
            <div class="col-10 col-md-4 rep-li">
              {{ .Content }}
            </div>
          {{ end }}
        {{ end }}
      </div>

      <div class="row justify-content-center " style="margin-bottom: 10rem;">
        <div class="col-lg-4">
          <div class="navigation-card">
            <a
              class="navigation-card__content"
              href=""
              style="background-color: #A5D6FB"
            >
              <h3 class="navigation-card__title navigation-card__title--small">
                Styringsstruktur for produkter
              </h3>
              <p class="navigation_link_subtitle">Kommer mere info</p>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid px-5 divider-title line-yellow">
      {{ $responsible_management := (i18n "responsible-management") }}
      {{ partial
        "components/component-title.html" (dict "context" . "title"
        $responsible_management)
      }}
    </div>

    <div class="container" style="margin-bottom: 10rem;">
      {{ with .Site.GetPage "/brukeropplevelse-og-datadeling/team/support-teams/styringsteamet" }}
        <div class="row gy-3 justify-content-center">
          <div class="col-lg-4">
            <div class="navigation-card">
              <a
                class="navigation-card__content"
                href="{{ .RelPermalink }}"
                style="background-color: #FAEEC2"
              >
                <h3
                  class="navigation-card__title navigation-card__title--small"
                >
                  {{ .Title }}
                </h3>
                <h4 class="navigation_link_title">
                  {{ .Params.navigation_link.title }}
                </h4>
                <p class="navigation_link_subtitle">
                  {{ .Params.navigation_link.subtitle }}
                </p>
              </a>
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}
