{{ $alert := index .Site.Data .Site.Language.Lang }}
{{ partial
  "components/alert.html" (dict "context" . "alert" $alert)
}}

<header class="header">
  <div class="container">
    <nav class="row">
        <div class="col-sm-12 col-lg-4">
          {{ with .Site.GetPage "/" }}
          <a href="{{ .RelPermalink }}" style="text-decoration: none;">
            <img
              class="my-auto pe-2 mt-2"
              style="width: 10rem;"
              src="{{ .Site.BaseURL }}{{ .Site.Params.logo }}"
              alt="logo"
            />
          </a>
          {{ end }}
        </div>
        <div id="search" style="margin: auto;" class="col-sm-12 col-lg-8"></div>
        
        <link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
        <script src="/pagefind/pagefind-ui.js"></script>
        <script>
          window.addEventListener('DOMContentLoaded', (event) => {
            new PagefindUI({ element: "#search", showSubResults: true, highlightParam: "q"});
          });
        </script>
        <script type="module">
          await import('/pagefind/pagefind-highlight.js');
          new PagefindHighlight({ highlightParam: "q" });
        </script>
    </nav>
  </div>
</header>
