{{ define "main" }}

<div class="page__home">

    <div class="component component--primary" style="background-image: url('https://education.ec.europa.eu/sites/default/files/styles/eac_ratio_16_9_large/public/2021-12/selfie-banner1.png?h=8dad346e&itok=LqnsdxNN'); background-repeat: no-repeat;background-size: 100%;">
        <div class="container">
            <div class="row">
                <div class="col-lg">
                    <h1 class="text-white">Bli en digital borger</h1>
                    <p class="ingress text-white">Opprett din personlige, digitale identitet og ta i bruk digitale tjenester fra det offentlige.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="component">
        <div class="container">
            <div class="row text-center">
                <h2>Kom i gang</h2>
                <div class="line"></div>
            </div>
            <div class="row gy-3">
                <div class="col-lg-4">
                    <div class="navigation-card">
                        <a class="navigation-card__link navigation-card__link--small" href="#">
                            <div class="navigation-card__img-container navigation-card__img-container--small">
                                <img src="/icons/App.png" />
                            </div>
                            <h3 class="navigation-card__title navigation-card__title--small">
                                MinID på mobil
                            </h4>
                            <p class="navigation-card__desc navigation-card__desc--small">
                                Last ned appen og ta i bruk MinID på mobil.
                            </p>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="navigation-card">
                        <a class="navigation-card__link navigation-card__link--small" href="#">
                            <div class="navigation-card__img-container navigation-card__img-container--small">
                                <img src="/icons/Publisering.png" />
                            </div>
                            <h3 class="navigation-card__title navigation-card__title--small">
                                Registrer deg
                            </h3>
                            <p class="navigation-card__desc navigation-card__desc--small">
                                Følg veilederen for å opprette MinID bruker
                            </p>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="navigation-card">
                        <a class="navigation-card__link navigation-card__link--small" href="#">
                            <div class="navigation-card__img-container navigation-card__img-container--small">
                                <img src="/icons/Samtale.png" />
                            </div>
                            <h3 class="navigation-card__title navigation-card__title--small">
                                Hjelp
                            </h3>
                            <p class="navigation-card__desc navigation-card__desc--small">
                                Se spørsmål og svar eller kontakt oss
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="component">
        <div class="container">
            <div class="row gy-3">
                <div class="col-lg-6">
                    <h2>
                        Hva er en elektronisk identitet?
                    </h2>
                    <p>Om du skal få utført tjenester fra stat og kommune digitalt, må du ha en elektronisk ID for å
                        kunne logge deg inn. Denne bekrefter at du er den du utgir deg for å være. MinID er en personlig
                        elektronisk ID som gir tilgang til offentlige tjenester.</p>
                    <div class="mt-5">
                        <a href="#" class="button">
                            Les mer
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    {{ partial "components/image.html" (dict "context" . "image_input" "/illustrations/illustration-01.jpg") }}
                </div>
            </div>
        </div>
    </div>

</div>

{{ end }}