{{ define "main" }}

<div class="page__home">

    {{ with .Site.GetPage "/" }}
    <div class="component component--primary"
        style="background-image: url('https://education.ec.europa.eu/sites/default/files/styles/eac_ratio_16_9_large/public/2021-12/selfie-banner1.png?h=8dad346e&itok=LqnsdxNN'); background-repeat: no-repeat;background-size: cover;">
        <div class="container">
            <div class="row">
                <div class="col-lg">
                    <h1 class="text-white">{{.Title}}</h1>
                    <p class="ingress text-white">{{.Params.ingress}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    {{ end }}

    <div class="component">
        <div class="container">

            {{ with .Site.GetPage "/kom-i-gang" }}
            <div class="row text-center">
                <div class="divider">
                    <div class="divider__title">
                        <a href="{{.RelPermalink}}">
                            <h2>{{.Title}}</h2>
                        </a>
                        <div class="line"></div>
                    </div>
                </div>
            </div>
            {{ end }}
            <div class="row gy-3">
                <div class="col-lg-4">
                    <div class="navigation-card">
                        <a class="navigation-card__link navigation-card__link--small" href="#">
                            <div class="navigation-card__img-container navigation-card__img-container--small">
                                <img src="/icons/Publisering.png" />
                            </div>
                            <h3 class="navigation-card__title navigation-card__title--small">
                                Registrer deg
                            </h3>
                            <p class="navigation-card__desc navigation-card__desc--small">
                                Følg veilederen for å opprette MinID bruker
                            </p>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="navigation-card">
                        <a class="navigation-card__link navigation-card__link--small" href="#">
                            <div class="navigation-card__img-container navigation-card__img-container--small">
                                <img src="/icons/App.png" />
                            </div>
                            <h3 class="navigation-card__title navigation-card__title--small">
                                MinID på mobil
                                </h4>
                                <p class="navigation-card__desc navigation-card__desc--small">
                                    Last ned appen og ta i bruk MinID på mobil.
                                </p>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="navigation-card">
                        <a class="navigation-card__link navigation-card__link--small" href="#">
                            <div class="navigation-card__img-container navigation-card__img-container--small">
                                <img src="/icons/Samtale.png" />
                            </div>
                            <h3 class="navigation-card__title navigation-card__title--small">
                                Hjelp
                            </h3>
                            <p class="navigation-card__desc navigation-card__desc--small">
                                Se spørsmål og svar eller kontakt oss
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ with .Site.GetPage "/hva-er-en-elektronisk-identitet" }}
    <div class="component">
        <div class="container">
            <div class="row gy-3">
                <div class="col-lg-6">
                    <div class="content__container">
                        <h2 class="mt-0">
                            {{.Title}}
                        </h2>
                        <p>{{.Params.teaser}}</p>
                        <div class="mt-4">
                            <a href="{{.RelPermalink}}" class="button">
                                {{ i18n "les-mer" }}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    {{ partial "components/image.html" (dict "context" . "image_input" .Params.teaser__img) }}
                </div>
            </div>
        </div>
    </div>
    {{ end }}

    <div class="component">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row g-3">
                        <div class="col-lg-6">
                            <div class="column text-center">
                                <div class="p-4">
                                    <img alt="Ikon av næringsliv bygning" style="height:45px;margin-bottom:15px;"
                                        src="/icons/Næringsliv.png" /><br>
                                    <label>{{ i18n "utdanning" }}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="column text-center">
                                <div class="p-4">
                                    <img alt="Ikon av digital signatur med finger"
                                        style="height:45px;margin-bottom:15px;" src="/icons/Signatur.png" /><br>
                                    <label>{{ i18n "elektronisk-signatur" }}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="column text-center">
                                <div class="p-4">
                                    <img alt="Ikon av digital postkasse" style="height:45px;margin-bottom:15px;"
                                        src="/icons/Digital_postkasse.png" /><br>
                                    <label>{{ i18n "digital-postkasse" }}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="column text-center">
                                <div class="p-4">
                                    <img alt="Ikon av hengelås" style="height:45px;margin-bottom:15px;"
                                        src="/icons/Laas.png" /><br>
                                    <label>{{ i18n "sikkerhet" }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {{ with .Site.GetPage "/fire-grunner-til-a-bruke-minid" }}
                <div class="col-lg-5 offset-md-1 my-auto">
                    <div class="content__container">
                        <h2 class="mt-0">{{.Title}}</h2>
                        <p>{{.Params.teaser}}</p>
                        <div class="mt-4">
                            <a href="#" class="button">
                                {{ i18n "les-mer" }}
                            </a>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>

{{ end }}