{{ define "main" }}

<div class="page__get-started">
    {{ with .Site.GetPage "/kom-i-gang" }}

    <div class="component component--bg-second">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <label style="font-size:2.25rem;font-weight: 500;">{{.Title}}</label>
                    <p class="ingress mb-0" style="margin-top: 1.5rem;">{{.Params.ingress}}</p>
                </div>
            </div>
        </div>
    </div>
    {{ end }}

    <div class="component">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-5 col-xl-4">
                    <aside>
                        <h3 class="mt-0">{{i18n "steg"}}</h3>
                        {{ $currentPage := . }}
                        <ul class="vertical-nav">
                            {{ range first 1 .Site.Menus.supervisor.ByWeight }}
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="{{ .URL }}">
                                    {{ .Name }}
                                </a>
                            </li>
                            {{end}}
                            {{ range last 2 .Site.Menus.supervisor.ByWeight }}
                            <li class="nav-item">
                                <a class="nav-link {{if or ($currentPage.IsMenuCurrent "supervisor" .) ($currentPage.HasMenuCurrent "supervisor" .) }} active{{end}}"
                                    aria-current="page" href="{{ .URL }}">
                                    {{ .Name }}
                                </a>
                            </li>
                            {{end}}
                        </ul>
                    </aside>
                </div>
                <div class="col-sm-12 col-lg-7 col-xl-7">
                    <div class="markdown">
                        {{.Content}}
                    </div>

                    <hr class="mt-5">

                    <div class="d-flex justify-content-between mt-5">
                        {{ with .Params.steps.previous_step}}
                        <a class="button button--previous" href="{{$.Site.BaseURL}}{{.}}">
                            {{ i18n "previous-step" }}
                        </a>
                        {{ end }}
                        {{ with .Params.steps.next_step}}
                        <a class="button button--primary button--next" href="{{$.Site.BaseURL}}{{.}}">
                            {{ i18n "next-step" }}
                        </a>
                        {{ end }}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{{ end }}