{{ define "main" }}
  {{ with .Site.GetPage "/brukeropplevelse-og-datadeling/prosesser/utvikling" }}
    <div class="component" style="background-color: #FAEEC2">
      {{ partial "components/breadcrumbs.html" . }}
      <div class="container">
        <div class="row">
          <div class="col-lg-8 my-auto">
            <h1 class="">{{ .Title }}</h1>
            {{ $ingress := .Params.ingress | safeHTML }}
            <p class="ingress mb-5 mb-lg-0">{{ $ingress }}</p>
          </div>
          <div
            class="col-lg-4 d-flex justify-content-sm-center justify-content-lg-end"
          >
            <div>
              {{ partial "components/image.html" (dict "context" . "image"
                .Params.banner.image)
              }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="component">
      <div class="container">
        {{ .Content }}
      </div>
    </div>
  {{ end }}

  {{ with .Site.GetPage "/brukeropplevelse-og-datadeling/prosesser/utvikling" }}
    <div class="component" style="background-color: #FFFFFF">
      <div class="container-fluid px-5">
        
        
        
        {{ range .Pages }}
          {{ $accordion_id := .File.UniqueID }}

          {{ if eq .Params.columns 3 }}
          {{ $col_1 := .Resources.GetMatch "kolonne-1.md" }}
          {{ $col_2 := .Resources.GetMatch "kolonne-2.md" }}
          {{ $col_3 := .Resources.GetMatch "kolonne-3.md" }}
          <div class="row d-flex justify-content-center mb-5">
            <div class="col-10 col-lg-6">
              {{ partial "components/accordion.html" (dict "context" . "title" .Title "id" $accordion_id "contents" (dict "col_1" $col_1 "col_2" $col_2 "col_3" $col_3))}}
            </div>
          </div>
          {{ else if eq .Params.columns 2 }}
            {{ $col_1 := .Resources.GetMatch "kolonne-1.md" }}
            {{ $col_2 := .Resources.GetMatch "kolonne-2.md" }}
            <div class="row d-flex justify-content-center mb-5">
              <div class="col-10 col-lg-6">
                {{ partial "components/accordion.html" (dict "context" . "title" .Title "id" $accordion_id "contents" (dict "col_1" $col_1 "col_2" $col_2))}}
              </div>
            </div>
          {{ else  }}
            <div class="row d-flex justify-content-center mb-5">
              <div class="col-10 col-lg-6 dev-ul">
                {{ partial "components/accordion.html" (dict "context" . "title" .Title "id" $accordion_id "contents" (dict "col_1" .Content ))}}
              </div>
            </div>
          {{ end }}
        {{ end }}
        
      </div>
    </div>
  {{ end }}
{{ end }}
