{{ define "main"}}
<div class="component">
    <div class="container">
        <div class="row">
            <div class="col-8 markdown">
                <h1>Vi finner ikke siden</h1>
                <p>Dette er pinlig, men denne siden er ikke lenger digitalisert. Siden kan være flyttet, slettet, eller
                    rett og slett forsvunnet i skyen.</p>
                <br>
                <p>
                    Du kan:

                    <ul>
                        <li>sjekke om adressen til siden er riktig i adressefeltet</li>
                        <li>gå til forsida av <a href="/">baksia.digdir.no</a> (pun intended)</li>
                    </ul>


                </p>
            </div>
        </div>
    </div>
</div>
{{ end }}