{{ define "main" }}
  <head>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <div class="page__home" style="height: 110rem">
    {{ with .Site.GetPage "/" }}
      <div class="component" style="background-color: #faeec2">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 my-auto">
              <h1 class="">{{ .Title }}</h1>
              <p class="ingress mb-5 mb-lg-0">{{ .Params.ingress }}</p>
            </div>
            <div
              class="col-lg-6 d-flex justify-content-sm-center justify-content-lg-end "
            >
              <div>
                {{ partial "components/image.html" (dict "context" . "image"
                  .Params.banner.image)
                }}
              </div>
            </div>
          </div>
        </div>
      </div>
    {{ end }}


    <div class="component">
      <div class="container">
        {{ $departments_with_their_own_pages := (i18n
          "departments-with-their-own-pages")
        }}
        {{ partial
          "components/component-title.html" (dict "context" . "title"
          $departments_with_their_own_pages)
        }}
        <div class="row gy-3 justify-content-center">
          {{ with .Site.GetPage "/brukeropplevelse-og-datadeling" }}
            <div class="col-lg-4">
              <div class="navigation-card">
                <a
                  class="navigation-card__content"
                  href="{{ .RelPermalink }}"
                  style="background-color: #e9eaec"
                >
                  <h3
                    class="navigation-card__title navigation-card__title--small"
                  >
                    {{ .Title }}
                  </h3>
                  <p class="navigation-card__desc navigation-card__desc--small">
                    {{ .Params.navigation_link.text }}
                  </p>
                </a>
              </div>
            </div>
          {{ end }}
          {{ with .Site.GetPage "/organisasjonskart" }}
            <div class="col-lg-4">
              <div class="navigation-card">
                <a
                  class="navigation-card__content nav-card-external__content"
                  href="{{ .Params.external_url }}"
                  target="_blank"
                >
                  <h3
                    class="navigation-card__title navigation-card__title--small"
                  >
                    <u>{{ .Title }}</u>
                  </h3>
                  <p class="navigation-card__desc navigation-card__desc--small">
                    {{ .Params.navigation_link.text }}
                  </p>
                </a>
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
    {{ with .Site.GetPage "/strategi" }}
      <div class="component" style="background-color: #d2eafd">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 my-auto">
              <h2 class="">{{ .Title }}</h2>
              <p class="mb-5 mb-lg-0">{{ .Params.ingress }}</p>
            </div>
            <div
              class="col-lg-4 d-flex justify-content-sm-center justify-content-lg-end"
            >
              <div class="my-auto">
                {{ partial "components/content-image.html" (dict "context" . "image"
                  .Params.banner.image)
                }}
              </div>
            </div>
            <span style="margin-top: 1.5rem">
              <a
                class="external-link"
                href="{{ .Params.external_url }}"
                target="_blank"
                >Digitaliseringsdirektoratets strategi</a
              >
              <span class="end-icon"></span>
            </span>
          </div>
        </div>
      </div>
    {{ end }}
  </div>
{{ end }}
