{{ define "main" }}

<div class="page__home">

    {{ with .Site.GetPage "/" }}

    <div class="component" style="background-color:#156aac;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 my-auto">
                    <h1 class="text-white">{{.Title}}</h1>
                    <p class="ingress text-white">{{.Params.ingress}}
                    </p>
                </div>
                <div class="col-lg-6  d-flex justify-content-md-center justify-content-lg-end">
                    {{ partial "components/image.html" (dict "context" . "image" .Params.banner.image) }}
                </div>
            </div>
        </div>
    </div>
    {{ end }}

    <div class="component">
        <div class="container">

            {{ with .Site.GetPage "/kom-i-gang" }}
            <div class="row text-center">
                <div class="divider">
                    <div class="divider__title">
                        <a href="{{.RelPermalink}}">
                            <h2>{{.Title}}</h2>
                        </a>
                        <div class="line"></div>
                    </div>
                </div>
            </div>
            {{ end }}

            <div class="row gy-3">

                {{ with .Site.GetPage "/kom-i-gang/registrer-deg"}}
                <div class="col-lg-4">
                    <div class="navigation-card">
                        <a class="navigation-card__link navigation-card__link--small" href="{{.RelPermalink}}">
                            <div class="navigation-card__img-container navigation-card__img-container--small">
                                <img src="{{.Params.navigation_link.icon}}" alt="{{.Params.navigation_link.alt}}" />
                            </div>
                            <h3 class="navigation-card__title navigation-card__title--small">
                                {{.Title}}
                            </h3>
                            <p class="navigation-card__desc navigation-card__desc--small">
                                {{.Params.navigation_link.text}}
                            </p>
                        </a>
                    </div>
                </div>
                {{ end }}

                {{ with .Site.GetPage "/kom-i-gang/minid-paa-mobil" }}
                <div class="col-lg-4">
                    <div class="navigation-card">
                        <a class="navigation-card__link navigation-card__link--small" href="{{.RelPermalink}}">
                            <div class="navigation-card__img-container navigation-card__img-container--small">
                                <img src="{{.Params.navigation_link.icon}}" alt="{{.Params.navigation_link.alt}}" />
                            </div>
                            <h3 class="navigation-card__title navigation-card__title--small">
                                {{.Title}}
                            </h3>
                            <p class="navigation-card__desc navigation-card__desc--small">
                                {{.Params.navigation_link.text}}
                            </p>
                        </a>
                    </div>
                </div>
                {{ end }}

                {{ with .Site.GetPage "/hjelp" }}
                <div class="col-lg-4">
                    <div class="navigation-card">
                        <a class="navigation-card__link navigation-card__link--small" href="{{.RelPermalink}}">
                            <div class="navigation-card__img-container navigation-card__img-container--small">
                                <img src="{{.Params.navigation_link.icon}}" alt="{{.Params.navigation_link.alt}}" />
                            </div>
                            <h3 class="navigation-card__title navigation-card__title--small">
                                {{.Title}}
                            </h3>
                            <p class="navigation-card__desc navigation-card__desc--small">
                                {{.Params.navigation_link.text}}
                            </p>
                        </a>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>

    {{ with .Site.GetPage "/hva-er-en-elektronisk-identitet" }}
    <div class="component">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 my-auto">
                    <div class="content__container">
                        <h2 class="mt-0">
                            {{.Title}}
                        </h2>
                        <p>{{.Params.teaser.text}}</p>
                        <div class="mt-4">
                            <a href="{{.RelPermalink}}" class="button">
                                {{ i18n "les-mer" }}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 d-flex justify-content-md-center justify-content-lg-end">
                    {{ partial "components/image.html" (dict "context" . "image" .Params.teaser.image) }}
                </div>
            </div>
        </div>
    </div>
    {{ end }}

    {{ with .Site.GetPage "/fire-grunner-til-a-bruke-minid" }}
    <div class="component">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row g-3">
                        <div class="col-lg-6">
                            <div class="column text-center">
                                <div class="p-4">
                                    <img alt="Ikon av næringsliv bygning" style="height:45px;margin-bottom:15px;"
                                        src="/icons/Næringsliv.png" /><br>
                                    <label>{{ i18n "utdanning" }}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="column text-center">
                                <div class="p-4">
                                    <img alt="Ikon av digital signatur med finger"
                                        style="height:45px;margin-bottom:15px;" src="/icons/Signatur.png" /><br>
                                    <label>{{ i18n "elektronisk-signatur" }}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="column text-center">
                                <div class="p-4">
                                    <img alt="Ikon av digital postkasse" style="height:45px;margin-bottom:15px;"
                                        src="/icons/Digital_postkasse.png" /><br>
                                    <label>{{ i18n "digital-postkasse" }}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="column text-center">
                                <div class="p-4">
                                    <img alt="Ikon av hengelås" style="height:45px;margin-bottom:15px;"
                                        src="/icons/Laas.png" /><br>
                                    <label>{{ i18n "sikkerhet" }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 offset-md-1 my-auto">
                    <div class="content__container">
                        <h2 class="mt-0">{{.Title}}</h2>
                        <p>{{.Params.teaser.text}}</p>
                        <div class="mt-4">
                            <a href="{{.RelPermalink}}" class="button">
                                {{ i18n "les-mer" }}
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {{ end }}

    {{ with .Site.GetPage "/hjelp-oss-a-forbedre-nettstedet" }}
    <div class="component">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 my-auto">
                    <div class="content__container">
                        <h2 class="mt-0">{{.Title}}</h2>
                        <p>{{.Params.teaser.text}}</p>
                        <div class="mt-4">
                            <a href="{{.RelPermalink}}" class="button">
                                {{ i18n "les-mer" }}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 d-flex justify-content-md-center justify-content-lg-end">
                    {{ partial "components/image.html" (dict "context" . "image" .Params.teaser.image) }}
                </div>
            </div>
        </div>
    </div>
    {{ end }}
</div>

{{ end }}