{{ define "main" }}

<div class="page__home">
  {{ with .Site.GetPage "/" }}
  <div class="component" style="background-color: #fbbfc1">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 my-auto">
          <h1 class="">{{.Title}}</h1>
          <p class="ingress mb-5 mb-lg-0">{{.Params.ingress}}</p>
        </div>
        <div
          class="col-lg-6 d-flex justify-content-sm-center justify-content-lg-end"
        >
          <div style="margin-bottom: -48px !important">
            {{ partial "components/image.html" (dict "context" . "image"
            .Params.banner.image) }}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{ end }}

  <div class="component">
    <div class="container">
      {{ $departments_with_their_own_pages := (i18n
      "departments-with-their-own-pages") }} {{ partial
      "partials/components/component-title.html" (dict "context" . "title"
      $departments_with_their_own_pages) }}
      <div class="row gy-3 justify-content-center">
        {{ with .Site.GetPage "/brukeropplevelse-og-datadeling"}}
        <div class="col-lg-4">
          <div class="navigation-card">
            <a
              class="navigation-card__content"
              href="{{.RelPermalink}}"
              style="background-color: #e9eaec"
            >
              <h3 class="navigation-card__title navigation-card__title--small">
                {{.Title}}
              </h3>
              <p class="navigation-card__desc navigation-card__desc--small">
                {{.Params.navigation_link.text}}
              </p>
            </a>
          </div>
        </div>
        {{ end }} {{ with .Site.GetPage "/organisasjonskart" }}
        <div class="col-lg-4">
          <div class="navigation-card">
            <a
              class="navigation-card__content nav-card-external__content"
              href="https://www.digdir.no/digdir/oversikt-over-organisasjonen/709"
            >
              <h3 class="navigation-card__title navigation-card__title--small">
                <u>{{.Title}}</u>
              </h3>
              <p class="navigation-card__desc navigation-card__desc--small">
                {{.Params.navigation_link.text}}
              </p>
            </a>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}
