{{ define "main" }}
    <div class="component" style="background-color: #faeec2">
      {{ partial "components/breadcrumbs.html" . }}
      <div class="container">
        <div class="row d-flex justify-content-between">
          <div class="col-lg-8 my-auto pe-5">
            <h1 class="">{{ .Title }}</h1>
            {{ $ingress := .Params.ingress | markdownify }}
            <p class="ingress mb-5 mb-lg-0">{{ $ingress }}</p>
          </div>
          <div class="col-lg-4 d-flex justify-content-sm-center">
            <div class="d-flex align-items-center">
              {{ partial "components/image.html" (dict "context" . "image"
                .Params.banner.image)
              }}
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="component" style="background-color: #FFFFFF">
    <div class="container line-yellow mb-5">
      {{ $overview_of_information := (i18n
        "overview-of-information")
      }}
      {{ partial
        "components/component-title.html" (dict "context" . "title"
        $overview_of_information)
      }}
      <div class="row gy-3 justify-content-even">
        {{ .Content }}
      </div>
    </div>
  </div>
{{ end }}
