{{ $image_url := .Get "url" }}
<div class="col-12 col-sm-6 col-lg-3 my-3">
  <div class="d-flex align-items-start" style="width:fit-content">
    <div class="col">
      <img
        src="{{ $image_url }}"
        alt=""
        class="rounded-circle"
        width="70px"
      />
    </div>
    <div class="row d-flex ms-2">
      {{ with .Get "name" }}<div style="font-size: 20px;">{{ . }}</div>{{ end }}
      {{ with .Get "role" }}
        <div style="font-size: 16px; color: #4B5563">{{ . }}</div>
      {{ end }}
    </div>
  </div>
</div>
