{{ define "main" }}
  <div>
    {{ with .Site.GetPage "/brukeropplevelse-og-datadeling/onboarding" }}
      <div class="component" style="background-color: #FAEEC2">
        {{ partial "components/breadcrumbs.html" . }}
        <div class="container">
          <div class="row">
            <div class="col-lg-8 my-auto">
              <h1 class="">{{ .Title }}</h1>
              {{ $ingress := .Params.ingress | safeHTML }}
              <p class="ingress mb-5 mb-lg-0">{{ $ingress }}</p>
            </div>
            <div
              class="col-lg-4 d-flex justify-content-sm-center justify-content-lg-end"
            >
              <div>
                {{ partial "components/image.html" (dict "context" . "image"
                  .Params.banner.image)
                }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="component" style="background-color: #F4F5F6">
        <div class="container">
          <div class="container-fluid px-5 divider-title line-yellow">
            {{ $get_started_as_a_new_employee := (i18n "get-started-as-a-new-employee") }}
            {{ partial
              "components/component-title.html" (dict "context" . "title"
              $get_started_as_a_new_employee)
            }}
          </div>
          <div class="row">
            {{ .Content }}
          </div>
        </div>
      </div>
    {{ end }}
  </div>
{{ end }}
