{{ define "main" }}
  <div>
    {{ with .Site.GetPage "/brukeropplevelse-og-datadeling/produkter" }}
      <div class="component" style="background-color: #a5d6fb">
        {{ partial "components/breadcrumbs.html" . }}
        <div class="container">
          <div class="row">
            <div class="col-lg-8 my-auto">
              <h1 class="">{{ .Title }}</h1>
              <p class="ingress mb-5 mb-lg-0">{{ .Params.ingress }}</p>
            </div>
            <div
              class="col-lg-4 d-flex justify-content-sm-center justify-content-lg-end"
            >
              <div>
                {{ partial "components/image.html" (dict "context" . "image"
                  .Params.banner.image)
                }}
              </div>
            </div>
          </div>
        </div>
      </div>
    {{ end }}
  </div>
  <div class="component">
    <div class="container">
      <div class="row d-flex justify-content-between" style="padding: 0 10%">
        {{ with .Site.GetPage "/brukeropplevelse-og-datadeling/produkter" }}
          {{ range .Resources }}
            <div class="col-10 col-md-4 product-li">
              {{ .Content }}
            </div>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
