{{ $currentPage := .Page }}
{{ $children := $currentPage.Pages }}

{{ if gt (len $children) 0 }}
  <div class="component">
    <div class="row gy-4">
    {{ range $children }}
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <div class="navigation-card">
          {{ if .Params.external_url }}
            <a class="navigation-card__content nav-card-external__content" href="{{ .Params.external_url }}" target="_blank">
              <h3 class="navigation-card__title navigation-card__title--small">
                  <u>{{ .Title }}</u>
              </h3>
              <p class="navigation-card__desc navigation-card__desc--small">
                  {{ .Params.navigation_link.text }}
              </p>
            </a>
          {{ else}}
            <a class="navigation-card__content" href="{{ .RelPermalink }}" style="background-color: #d2eafd">
              <h3 class="navigation-card__title navigation-card__title--small">
                  {{ .Title }}
              </h3>
              <h4 class="navigation_link_title">
                  {{ .Params.navigation_link.title }}
              </h4>
              <p class="navigation_link_subtitle">
                  {{ .Params.navigation_link.subtitle }}
              </p>
            </a>
          {{ end }}
        </div>
      </div>
    {{ end }}
    </div>
  </div>
{{ end }}
