name: Hugo Verifications

on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build and Check links
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: '0.137.0'
          extended: true

      - run: npm install

      - name: Build
        run: hugo --environment production

      - name: Build pagefind index
        run: npx -y pagefind --site "public"

      - name: Verify links
        uses: untitaker/hyperlink@0.1.44
        with:
          args: public/ --check-anchors --sources content/
